body
{
    color: #333;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin:0;
    padding: 0;
}
#cabezera
{
    background: #33a;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabezera #tagline
{
    margin: 0 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}